<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add</title>
</head>
<body>
    <form action="/add-watch" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="name" required>
        <input type="text" name="brand" placeholder="brand" required>
        <input type="text" name="price" placeholder="price" required>

        <label for="">Main Image:</label>
        <input type="file" name="mainImage" required>

        <label for="">Other Images (6):</label>
        <input type="file" name="images" multiple required>

        <button type="submit"> submit </button>
    </form>

</body>
</html>