:root{
    --primary-color: #2B2B2B;
    --secondary-color: #E8E8E8;
    --border-color: #CCCCCC;


    --fs-large: 30px;
    --fs-bigest: 20px;
    --fs-big: 17px;
    --fs-medium: 15px;
    --fs-small: 13px;
    --fs-super-small: 12px;
}
@font-face {
    font-family: calibre;
    src: url(../font/TestCalibre-Regular-BF661746edbee52.otf);
}
*{
    font-family: calibre;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    box-sizing: border-box;
}


main{
    max-width: 980px;
    margin: 0 auto;
    padding: 35px 0;
    position: relative;
    .products-container{
        .products-container-content{
            display: flex;
            flex-direction: column;
            .brand{
                display: flex;
                flex-direction: column;
                gap: 15px;
                padding: 30px 0px;
                .products-heading{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h3{
                        color: var(--primary-color);
                        font-size: var(--fs-large);
                    }
                    .prev-next{
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        button{
                            width: 25px;
                            height: 25px;
                            outline: none;
                            cursor: pointer;
                            border-radius: 1000px;
                            background-color: transparent;
                            border: 2px solid var(--primary-color);
                        }
                    }                
                }
    
                .slider-container{
                    overflow: hidden;
                    .slider{
                        gap: 15px;
                        display: flex;
                        align-items: center;
                        width: max-content;
                        padding: 15px 10px;
                        transition: transform 0.5s ease;
                        .slide{
                            width: 228px;
                            height: 355px;
                            display: flex;
                            justify-content: center;
                            box-shadow: 0px 0px 5px 0px var(--border-color);
                            cursor: pointer;
                            .slide-content{
                                width: 90%;
                                padding: 10px 0;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                img{
                                    width: 100%;
                                    height: 220px;
                                    object-fit: cover;
                                }
                                .slide-heading{
                                    span{
                                        color: #07070769;
                                        font-size: var(--fs-super-small);
                                        font-weight: bold;
                                    }
                                    h3{
                                        font-size: var(--fs-medium);
                                        color: var(--primary-color);
                                    }
    
                                }
                                .slide-price{
                                    display: flex;
                                    justify-content: space-between;
                                    p{
                                        font-size: var(--fs-bigest);
                                    }
                                    button{
                                        width: 80px;
                                        height: 24px;
                                        border: none;
                                        cursor: pointer;
                                        color: var(--primary-color);
                                        border: 2px solid var(--primary-color);
                                        background-color: transparent
                                    }
                                    button:hover{
                                        color: var(--secondary-color);
                                        background-color: var(--primary-color);
                                        transition: .3s ease;
                                    }
                                }
                                    
                            }
                        }
                        .slide:hover{
                            transition: .3s ease;
                            transform: scale(1.02);
                            box-shadow: 1px 1px 5px 2px var(--border-color);
                        }
                    }
                }
            }
            .skagen{
                border-bottom: 2px solid var(--border-color);
                border-top: 2px solid var(--border-color);
            }
        }
    }
}



footer{
    background-color: var(--secondary-color);
    .footer-content{
        max-width: 960px;
        margin: 0 auto;
        padding-top: 44px;
        padding-bottom: 38px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 54px;
        ul{
            list-style: none;
            line-height: 2;
            li{
                color: var(--primary-color);
                font-size: var(--fs-small);
                h3{
                    font-size: var(--fs-bigest);
                }
                a{
                    color: var(--primary-color);
                    font-size: var(--fs-small);
                    text-decoration: none;
                }
            }
        }
        .newsletter{
            display: flex;
            flex-direction: column;
            gap: 47px;
            form{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 14px;
                label{
                    font-size: var(--fs-small);
                    color: var(--primary-color);
                    text-transform: uppercase;
                }
                input{
                    width: 200px;
                    height: 38px;
                    padding-left: 10px;
                    border: 2px solid var(--border-color);   
                }
                button{
                    width: 75px;
                    height: 25px;
                    border: 2px solid var(--primary-color);
                    color: var(--primary-color);
                    text-transform: uppercase;
                    cursor: pointer;
                    outline: none;
                }
            }
            .links-container{
                display: flex;
                align-items: center;
                gap: 30px;
                i{
                    cursor: pointer;
                }
            }
        }
    }
}