:root{
    --primary-color: #2B2B2B;
    --secondary-color: #E8E8E8;
    --border-color: #CCCCCC;


    --fs-large: 30px;
    --fs-bigest: 20px;
    --fs-big: 17px;
    --fs-medium: 15px;
    --fs-small: 13px;
    --fs-super-small: 12px;
}
*{
    margin: 0;
    padding: 0;
}
.wishlist{
    transition: .3s ease-in;
    position: fixed;
    transition: all .3s ease;
    z-index: 100;
    top: 0px;
    right: -342px;
    pointer-events: none;
    width: 342px;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: white;
    border: 2px solid var(--border-color);
    overflow: hidden;
    .shopping-bag-content{
        width: 90%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 10px;
        .item{
            border-bottom: 2px solid var(--border-color);
            padding: 14px 0;
        }
        .item1{
            display: flex;
            justify-content: space-between;
        }
        h3{
            color: var(--primary-color);
            font-size: var(--fs-medium);
            text-transform: uppercase;
        }
        p{
            color: var(--primary-color);
            font-size: var(--fs-super-small);
        }
        button{
            cursor: pointer;
            outline: none;
        }
        .heading{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            .head-text{
                display: flex;
                flex-direction: column;
                h3{

                }
                p{
                    margin-top: 4px;
                }
            }
            button{
                background-color: transparent;
                border: none;
                color: var(--primary-color);
            }
            button:hover{
                transform: scale(1.2);
                transition: .3s ease;
            }
        }
        .product{
            display: flex;
            gap: 14px;
            img{
                width: 128px;
                height: 147px;
                object-fit: cover;
                cursor: pointer;
            }
            .product-info{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 30px;
                .product-info-text{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    h4{
                        font-size: var(--fs-super-small);
                        text-transform: uppercase;
                        color: var(--primary-color);
                    }
                    p{
                        font-size: var(--fs-super-small);
                        color: var(--primary-color);
                    }
                }
                
            }
        }
        
    }
}
.wishlist.show{
    pointer-events: auto;
    transition: .3s ease-in-out;
    right: 0px;
}