<footer>
    <div class="footer-content">
        <ul>
            <li>
                <h3>
                    calibre
                </h3>
            </li>
            <li>
                call us
            </li>
            <li>
                +44 (0)10 2345 6789
            </li>
            <li>
                EMAIL CUSTOMER CARE
            </li>
        </ul>
        <ul>
            <li>
                <a href=""> STYLE & FIT ADVICE </a>
            </li>
            <li>
                <a href=""> faqs </a>
            </li>
            <li>
                <a href=""> DELIVERY </a>
            </li>
            <li>
                <a href=""> EXCHANGES & RETURNS </a>
            </li>
            <li>
                <a href=""> TERMS & CONDITIONS  </a>
            </li>
            <li>
                <a href=""> PRIVACY & COOKIES </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href=""> about us </a>
            </li>
            <li>
                <a href=""> careers </a>
            </li>
            <li>
                <a href=""> AFFILIATES</a>
            </li>
            <li>
                <a href=""> ADVERTISING </a>
            </li>
        </ul>
        <div class="newsletter">
            <form action="">
                <label for="">
                    sign up for our newsletter
                </label>    
                <input type="text" placeholder="your email">
                <button>
                    submit
                </button>
            </form>
            <div class="links-container">
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
            </div>
            
        </div>
    </div>
</footer>
