<header>
    <div class="header-top">
        <h3>
            calibre
        </h3>
        <div class="user-action">
            <div class="search-box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search">
            </div>
            <div class="profile">
                <i class="fa-regular fa-user"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="navigation">
            <a href="">new arrivals</a>
            <a href="">brands</a>
            <a href="">men's</a>
            <a href="">women's</a>
            <a href="">accessories</a>
            <a href="">baselworl</a>
        </div>
    </div>
</header>