<header>
    <div class="header-top">
        <a href = "/">
            calibre
        </a>
        <div class="user-action">
            
            <form action="/search" method="GET" class="search-box">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" name="query" placeholder="Search for watches..." required>
            </form>            
            <div class="profile">
                <i class="fa-regular fa-user"></i>
                <i class="fa-regular fa-star"></i>
                <i id="cart-icon" class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="navigation">
            <div class="item-overlay new-arrivals-item">
                <a href="" class="new-arrivals">new arrivals</a>
                <div class="overlay new-arrivals-overlay">
                    <div class="overlay-content">
                        <ul>
                            <li> <a href=""> this week </a> </li>
                            <li> <a href=""> last week </a> </li>
                            <li> <a href=""> back in stock </a> </li>
                            <li> <a href=""> exclusive </a> </li>
                            <li> <a href=""> the season's trends </a> </li>
                        </ul>
                        <div class="product-categories">
                            <div class="category">
                                <h3> gold watches </h3>
                                <section>
                                    <img src="/images/overlay images/new arrivales/Gold Watches Image.png" alt="gold watches">
                                    <h4> BREITLING </h4>
                                </section>
                            </div>
                            <div class="category">
                                <h3> gold watches </h3>
                                <section>
                                    <img src="/images/overlay images/new arrivales/Diving Watches Image.png" alt="gold watches">
                                    <h4> BREITLING </h4>
                                </section>
                            </div>
                            <div class="category">
                                <h3> gold watches </h3>
                                <section>
                                    <img src="/images/overlay images/new arrivales/Accessories Image.png" alt="gold watches">
                                    <h4> BREITLING </h4>
                                </section>
                            </div>
                
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-overlay brands-item">
                <a href="" class="brands">brands</a>
                <div class="overlay brands-overlay">
                    <div class="overlay-content">
                        <section>
                            <ul>
                                <li> <a href=""> ALL LUXURY WATCHES </a> </li>
                                <li> <a href=""> LUXURY WATCH GUIDE </a> </li>
                                <li> <a href=""> Roger Dubuis </a> </li>
                                <li> <a href=""> Vacheron Constantin </a> </li>
                                <li> <a href=""> Jaeger-LeCoultre </a> </li>
                                <li> <a href=""> IWC Schaffhausen </a> </li>
                                <li> <a href=""> Zenith </a> </li>
                                <li> <a href=""> Maurice de Mauriac </a> </li>
                                <li> <a href=""> Ressence </a> </li>
                                <li> <a href=""> Bremont </a> </li>
                            </ul>
                            <ul>
                                <li> <a href=""> Officine Panerai </a> </li>
                                <li> <a href=""> Breitling </a> </li>
                                <li> <a href=""> Montblanc </a> </li>
                                <li> <a href=""> Cartier </a> </li>
                                <li> <a href=""> TAG Heuer </a> </li>
                                <li> <a href=""> Piaget </a> </li>
                                <li> <a href=""> Oris </a> </li>
                                <li> <a href=""> Bell & Ross </a> </li>
                                <li> <a href=""> NOMOS Glashütte </a> </li>
                                <li> <a href=""> Junghans </a> </li>
                            </ul>
                        </section>
                        <div class="product-categories">
                            <div class="category">
                                <section class="text-image">
                                    <h3> gold watches </h3>
                                    <img src="/images/overlay images/new arrivales/Gold Watches Image.png" alt="gold watches">
                                </section>
                                <section class="action">
                                    <section>
                                        <h4> IWC SCHAFFHAUSEN </h4>
                                        <p> Big Pilot's 46mm Stainless </p>
                                    </section>
                                    <button> MORE IWC WATCHES </button>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-overlay mens-item heading-of">
                <a href="" class="mens">men's</a>
                <div class="overlay mens-overlay">
                    <div class="overlay-content">
                        <ul>
                            <li> <a href=""> Limited Editions </a> </li>
                            <li> <a href=""> Aviation Watches </a> </li>
                            <li> <a href=""> Chronograph Watches </a> </li>
                            <li> <a href=""> Diving Watches </a> </li>
                            <li> <a href=""> Dress Watches </a> </li>
                            <li> <a href=""> Smart Watches </a> </li>
                            <li> <a href=""> Sports Watches </a> </li>
                        </ul>
                        <div class="product-categories">
                            <div class="categories-heading">
                                <h2> most popular </h2>
                            </div>
                            <div class="categories-container">
                                <div class="category">
                                    <section>
                                        <img src="/images/overlay images/Men's/Most Popular Image 1.png" alt="gold watches">
                                        <h4> BREITLING </h4>
                                    </section>
                                </div>
                                <div class="category">
                                    <section>
                                        <img src="/images/overlay images/Men's/Most Popular Image 2.png" alt="gold watches">
                                        <h4> BREITLING </h4>
                                    </section>
                                </div>
                                <div class="category">
                                    <section>
                                        <img src="/images/overlay images/Men's/Most Popular Image 3.png" alt="gold watches">
                                        <h4> BREITLING </h4>
                                    </section>
                                </div>
                            </div>
                
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-overlay womens-item heading-of">   
                <a href="" class="womens">women's</a>
                <div class="overlay womens-overlay">
                    <div class="overlay-content">
                        <ul>
                            <li> <a href=""> Limited Editions </a> </li>
                            <li> <a href=""> Aviation Watches </a> </li>
                            <li> <a href=""> Chronograph Watches </a> </li>
                            <li> <a href=""> Diving Watches </a> </li>
                            <li> <a href=""> Dress Watches </a> </li>
                            <li> <a href=""> Smart Watches </a> </li>
                            <li> <a href=""> Sports Watches </a> </li>
                        </ul>
                        <div class="product-categories">
                            <div class="categories-heading">
                                <h2>
                                    all time classics
                                </h2>
                            </div>
                            <div class="categories-container">
                                <div class="category">
                                    <section>
                                        <img src="/images/overlay images/womens/All Time Classics Image 1.png" alt="gold watches">
                                        <h4> BREITLING </h4>
                                    </section>
                                </div>
                                <div class="category">
                                    <section>
                                        <img src="/images/overlay images/womens/All Time Classics Image 2.png" alt="gold watches">
                                        <h4> BREITLING </h4>
                                    </section>
                                </div>
                                <div class="category">
                                    <section>
                                        <img src="/images/overlay images/womens/All Time Classics Image 3.png" alt="gold watches">
                                        <h4> BREITLING </h4>
                                    </section>
                                </div>
                            </div>
                
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-overlay accessories-item heading-of">
                <a href="" class="accessories">accessories</a>
                <div class="overlay accessories-overlay">
                    <div class="overlay-content">
                        <ul>
                            <li> <a href=""> Straps </a> </li>
                            <li> <a href=""> Portable Cases </a> </li>
                            <li> <a href=""> Watch Winders </a> </li>
                            <li> <a href=""> Buckles & Deployments </a> </li>
                            <li> <a href=""> Cases, Rolls and Pouches </a> </li>
                            <li> <a href=""> Tools </a> </li>
                        </ul>
                        <div class="product-categories">
                            <div class="categories-heading">
                                <h2> must haves </h2>
                            </div>
                            <div class="categories-container">
                                <div class="category">
                                    <section>
                                        <img src="/images/overlay images/Accessories/Must-haves Image 1.png" alt="gold watches">
                                        <h4> BREITLING </h4>
                                    </section>
                                </div>
                                <div class="category">
                                    <section>
                                        <img src="/images/overlay images/Accessories/Must-haves Image 2.png" alt="gold watches">
                                        <h4> BREITLING </h4>
                                    </section>
                                </div>
                                <div class="category">
                                    <section>
                                        <img src="/images/overlay images/Accessories/Must-haves Image 3.png" alt="gold watches">
                                        <h4> BREITLING </h4>
                                    </section>
                                </div>
                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-overlay baselworld-item">
                <a href="" class="baselworld">baselworld</a>
                <div class="overlay baselworld-overlay">
                    <div class="overlay-content">
                        <ul>
                            <li> <a href=""> The Show </a> </li>
                            <li> <a href=""> Exhibitors </a> </li>
                            <li> <a href=""> Showstoppers </a> </li>
                            <li> <a href=""> Baselworld Daily News </a> </li>
                            <li> <a href=""> Social Hub </a> </li>
                            <li> <a href=""> Stars at Baselworld </a> </li>
                            <li> <a href=""> Videos </a> </li>
                            <li> <a href=""> Interviews </a> </li>
                        </ul>
                        <div class="product-categories">
                            <div class="category">
                                <section class="text-image">
                                    <h3> gold watches </h3>
                                    <img src="/images/overlay images/baselworld/baselworld Video 1.png" alt="gold watches">
                                </section>
                                <section class="action">
                                    <section>
                                        <h4> the brilliance of  </h4>
                                        <p> Take just around 1 minute to dive into a Baselworld </p>
                                    </section>
                                    <button> MORE VIDEOS </button>
                                </section>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>