    <div class="shopping-bag">
        <div class="shopping-bag-content">
            <div class="heading item">
                <section class="head-text">
                    <h3> shopping bag </h3>
                    <p>you have item in your bag</p>
                </section>
                <button>&#10005</button>
            </div>
            <div class="product item">
                <img src="" alt="main image">
                <div class="product-info">
                    <div class="product-info-text">
                        <h4> </h4>
                        <p> Max Bill Chronoscope 40mm Stainless Steel and Leather  </p>
                    </div>
                    <div class="count">
                        <div class="counter">
                            <button class="minus">-</button>
                            <div class="digit">1</div>
                            <button class="plus">+</button>
                        </div>
                        <p> £</p>
                    </div>
                </div>
            </div>
            <div class="subtotal item item1">
                <h3> subtotal </h3>
                <p> £  </p>
            </div>
            <div class="shipping item">
                <div class="shipping-info">
                    <h3> shipping </h3>
                    <p> - - </p>
                </div>
                <p> Express options, international shipping and duties available during checkout. </p>
            </div>
            <div class="taxes item item1">
                <div class="taxes-info">
                    <h3> taxes </h3>
                    <p> - - </p>
                </div>
                <p> Taxes will be calculated during checkout. </p>
            </div>
            <div class="total item item1">
                <h3> total </h3>
                <p> £  </p>
            </div>
            <button class="checkout"> continue to checkout</button>
        </div>
    </div>
